<!-- header area start -->
<header class="header-style-one header--sticky <%= typeof page_slug !== 'undefined' ? page_slug : '' %> bg-white dark:bg-gray-900 shadow-sm">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between py-4">
      <div class="logo-area">
        <a href="/" class="logo flex items-center">
          <i class="ri-rocket-line mr-2"></i> ReviewWeb.site
          <!-- <img class="light w-36 dark:hidden" src="/images/brand/boost-together-logo-colorful.svg" alt="logo">
          <img class="dark hidden dark:block w-36" src="/images/brand/boost-together-logo-colorful.svg" alt="logo"> -->
        </a>
      </div>
      <nav class="hidden md:block">
        <ul class="flex space-x-6">
          <li class="<%= path_name === "/" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/" class="transition-colors duration-300">Home</a>
          </li>
          <li class="<%= path_name === "/pricing" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/pricing" class="transition-colors duration-300">Pricing</a>
          </li>
          <li class="<%= path_name === "/api-docs" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/api-docs" class="transition-colors duration-300">API Docs</a>
          </li>
          <li class="">
            <a href="https://github.com/mrgoonie/url-review" target="_blank" class="transition-colors duration-300">Contribute</a>
          </li>
        </ul>
      </nav>
      <div class="flex items-center space-x-4">
        <% if (user) { %>
        <div class="flex items-center space-x-3">
          <a href="/logout" class="text-gray-600 hover:text-red-600 dark:text-gray-300 dark:hover:text-red-400 tippy" data-tippy-content="Logout" data-tippy-placement="bottom">
            <i class="ri-logout-box-line"></i>
          </a>
          <span class="text-gray-700 dark:text-gray-300">
            Hi, <a href="/profile" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 tippy" data-tippy-content="Profile" data-tippy-placement="bottom">
              <%= user.name %> <i class="ri-user-line ml-1"></i>
            </a>
          </span>
        </div>
        <% } else { %>
        <a href="/login" class="rts-btn btn-primary"><i class="ri-login-box-line mr-2"></i>Get Started</a>
        <% } %>

        <!-- Mobile menu button -->
        <button class="md:hidden p-2 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700" id="mobile-menu-button">
          <i class="ri-menu-line text-xl"></i>
        </button>
      </div>
    </div>
  </div>

  <%- include('./mobile-menu') %>
</header>
<!-- header area end -->