<!-- header area start -->
<header class="header-style-one header--sticky <%= typeof page_slug !== 'undefined' ? page_slug : '' %> bg-white dark:bg-gray-900 shadow-sm">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between py-4">
      <div class="logo-area">
        <a href="/" class="logo">
          ReviewWeb.site
          <!-- <img class="light w-36 dark:hidden" src="/images/brand/boost-together-logo-colorful.svg" alt="logo">
          <img class="dark hidden dark:block w-36" src="/images/brand/boost-together-logo-colorful.svg" alt="logo"> -->
        </a>
      </div>
      <nav class="hidden md:block">
        <ul class="flex space-x-6">
          <li class="<%= path_name === "/" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/" class="transition-colors duration-300">Home</a>
          </li>
          <li class="<%= path_name === "/api-docs" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/api-docs" class="transition-colors duration-300">API Docs</a>
          </li>
          <li class="<%= path_name === "/case-studies" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
            <a href="/case-studies" class="transition-colors duration-300">Instructions</a>
          </li>
        </ul>
      </nav>
      <div class="flex items-center space-x-4">
        <% if (user) { %>
        <div class="flex items-center space-x-3">
          <a href="/logout" class="text-gray-600 hover:text-red-600 dark:text-gray-300 dark:hover:text-red-400 tippy" data-tippy-content="Logout" data-tippy-placement="bottom">
            <i class="ri-logout-box-line"></i>
          </a>
          <span class="text-gray-700 dark:text-gray-300">
            Hi, <a href="/profile" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 tippy" data-tippy-content="Profile" data-tippy-placement="bottom">
              <%= user.name %> <i class="ri-user-line ml-1"></i>
            </a>
          </span>
          <a href="/start-review" class="rts-btn btn-primary tippy" data-tippy-content="Start your review now!" data-tippy-placement="bottom-end">
            <i class="ri-rocket-2-line mr-2"></i> Start Review
          </a>
        </div>
        <% } else { %>
        <a href="/login" class="rts-btn btn-primary">Get Started</a>
        <% } %>
        <button id="menu-btn" class="md:hidden text-gray-600 dark:text-gray-300">
          <svg width="24" height="24" viewBox="0 0 20 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <rect y="14" width="20" height="2"></rect>
            <rect y="7" width="20" height="2"></rect>
            <rect width="20" height="2"></rect>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->

<!-- side bar area  -->
<div id="side-bar" class="fixed inset-y-0 right-0 z-50 w-64 bg-white dark:bg-gray-900 shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out">
  <button class="absolute top-4 left-4 text-gray-600 dark:text-gray-300 close-icon-menu">
    <i class="ri-close-line text-2xl"></i>
  </button>
  <!-- mobile menu area start -->
  <div class="mobile-menu-main p-6 mt-16">
    <nav class="nav-main mainmenu-nav">
      <ul class="space-y-4">
        <li class="<%= path_name === "/" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
          <a href="/" class="block py-2">Home</a>
        </li>
        <li class="<%= path_name === "/api-docs" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
          <a href="/api-docs" class="block py-2">API Docs</a>
        </li>
        <li class="<%= path_name === "/case-studies" ? "text-blue-600 font-semibold" : "text-gray-600 hover:text-blue-600" %>">
          <a href="/instructions" class="block py-2">Instructions</a>
        </li>
      </ul>
    </nav>

    <div class="mt-8 space-y-6">
      <% if (user) { %>
      <div class="flex items-center space-x-3">
        <a href="/logout" class="text-gray-600 hover:text-red-600 dark:text-gray-300 dark:hover:text-red-400 tippy" data-tippy-content="Logout" data-tippy-placement="bottom">
          <i class="ri-logout-box-line"></i>
        </a>
        <span class="text-gray-700 dark:text-gray-300">
          Hi, <a href="/profile" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 tippy" data-tippy-content="Profile" data-tippy-placement="bottom">
            <%= user.name %> <i class="ri-user-line ml-1"></i>
          </a>
        </span>
      </div>
      <a href="/start-review" class="rts-btn btn-primary w-full text-center tippy" data-tippy-content="Start your review now!" data-tippy-placement="bottom">
        <i class="ri-rocket-2-line mr-2"></i> Start Review
      </a>
      <% } else { %>
      <a href="/login" class="rts-btn btn-primary w-full text-center">Get Started</a>
      <% } %>
    </div>

    <ul class="social-area-one flex space-x-4 mt-12 justify-center">
      <li><a href="https://x.com/goon_nguyen" target="_blank" class="text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white"><i class="ri-twitter-x-line text-2xl"></i></a></li>
      <li><a href="https://fb.com/mrgoonie" target="_blank" class="text-gray-600 hover:text-blue-600 dark:text-gray-300 dark:hover:text-blue-400"><i class="ri-facebook-circle-fill text-2xl"></i></a></li>
    </ul>
  </div>
  <!-- mobile menu area end -->
</div>
<!-- side bar area end -->